<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">

<h1 class="welcome">{{title}}</h1>
  <div class="inputBackground">
<h1>List of Users:</h1>
<ul>
  {{#each users}}

    <li>
        <form method="POST" action="/users/admin/delete/{{UserId}} ">
            <a href="/users/admin/editUser/{{UserId}}">{{FirstName}} {{LastName}}</a>
            <input type="submit" value="Delete User">
        </form>
    </li>
  {{/each}}
</ul>
<h4>Click on a User to View the User's Profile</h4>
</div>
<br>
<a class="aB" href="/users/profile">Back</a>
<a class="aB" href="/users/logout">Logout</a>